* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #101828;
  background-color: #f4f5f7;
  font-family: "Inter";
}

main {
  & {
    position: relative;
    margin-inline: clamp(1rem, 5vw, 5rem);
    margin-block: 2rem;
  }

  .share {
    & {
      position: absolute;
      display: grid;
      place-items: center;
      right: 0;
      height: 2rem;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      border: 1px dotted #d0d5dd;
    }
    &:hover {
      background-color: #eaecf0;
    }
    img {
      display: inline-block;
    }
  }
}

.profile-details {
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 700;
  gap: 1rem;
  text-transform: capitalize;
}
.links {
  .link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 24px 32px 24px 32px;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #eaecf0;
    text-decoration: none;
    text-transform: capitalize;
    transition: background-color 200ms ease;
    &:hover {
      background-color: #d0d5dd;
    }
  }
}
footer {
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-block: 1rem;
  }
  .copyright {
    & {
      display: flex;
      border-top: 1px solid #eaecf0;
      padding-top: 1rem;
      gap: 1.5rem;
      margin-top: 5rem;
      justify-content: space-between;  
    }
    
    & > * {
      width: fit-content;
    }

    p {
      color: #667085;
      text-align: center;
      text-transform: capitalize; 
    }
  }
}

@media only screen and (max-width: 550px) {
  .copyright {
    flex-direction: column;
  }
}